Repository tkestack/tke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @choujimmy, @QianChenglong, @Yacent, @interstallers, @perfey-he, @ruyingzhe, @yadzhang, @defydahui, @kevinfeng, @wangao1236

docs: update QRcode
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

docs: resize QRcode
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

docs: resize QRcode
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

fix(log-agent): filedownload should be longrunning in log-agent-api and gateway
  cmd/tke-gateway/app/config/config.go
  cmd/tke-logagent-api/app/config/config.go
  cmd/tke-logagent-api/app/server.go
  pkg/apiserver/filter/longrunning.go
Owners: @choujimmy, @QianChenglong

fix(log-agent): make subresource filedownload longrunning
  cmd/tke-gateway/app/config/config.go
  cmd/tke-logagent-api/app/config/config.go
Owners: @choujimmy, @QianChenglong

docs: update QRcode
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

docs: resize QRcode
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

fix: bump galaxy/ipam version to fix host port issue
  pkg/platform/controller/addon/ipam/images/images.go
  pkg/platform/provider/baremetal/phases/galaxy/images/images.go
Owners: @QianChenglong

feat(cluster): upgrade coredns from 1.6.7 to 1.6.9
  pkg/platform/provider/baremetal/images/images.go
Owners: @QianChenglong

fix: multi arch errors
  build/docker/tools/tke-installer/install.sh
  cmd/generate-images/main.go
  cmd/tke-installer/app/installer/installer.go
  test/e2e_installer/bootstrap_test.go
Owners: @QianChenglong, @choujimmy

fix(cluster): duplicate enableHttps in schedulerPolicyConfig
  pkg/platform/provider/baremetal/cluster/manifests.go
Owners: @QianChenglong

feat(cluster): support kubernetes v1.18.2 v1.16.9
  Makefile
  build/docker/tools/provider-res/Makefile
  build/docker/tools/provider-res/download.sh
  build/docker/tools/tke-installer/release.sh
  cmd/setup-env/main.go
  cmd/tke-installer/app/installer/images/images.go
  cmd/tke-installer/app/installer/installer.go
  pkg/platform/provider/baremetal/cluster/create.go
  pkg/platform/provider/baremetal/cluster/kubeadm.go
  pkg/platform/provider/baremetal/cluster/update.go
  pkg/platform/provider/baremetal/machine/create.go
  pkg/platform/provider/baremetal/machine/kubeadm.go
  pkg/platform/provider/baremetal/phases/kubeadm/kubeadm.go
  pkg/platform/provider/baremetal/phases/kubeadm/types.go
  pkg/platform/provider/baremetal/phases/kubeadm/types_test.go
  pkg/platform/provider/baremetal/res/res.go
  pkg/spec/spec.go
  test/e2e_installer/bootstrap_test.go
Owners: @choujimmy, @QianChenglong

feat(cluster): upgrade etcd from v3.3.18 to v3.4.7
  pkg/platform/provider/baremetal/images/images.go
Owners: @QianChenglong

fix(cluster): missing etcd for local etcd ServerCertSANs
  pkg/platform/provider/baremetal/cluster/provider.go
Owners: @QianChenglong

fix(cluster): save config error
  pkg/platform/provider/baremetal/config/config.go
Owners: @QianChenglong

docs: update QRcode && Installation requirement && FAQ (#389)
  docs/guide/zh-CN/FAQ/events.md
  docs/guide/zh-CN/installation/installation-requirement.md
  docs/images/wechat.jpeg
Owners: @interstallers, @perfey-he, @ruyingzhe

feat(cluster): support conntrack-tools
  build/docker/tools/provider-res/Dockerfile
  build/docker/tools/provider-res/Makefile
  build/docker/tools/provider-res/run.sh
  cmd/setup-env/main.go
  pkg/platform/provider/baremetal/cluster/create.go
  pkg/platform/provider/baremetal/cluster/provider.go
  pkg/platform/provider/baremetal/machine/create.go
  pkg/platform/provider/baremetal/machine/provider.go
  pkg/platform/provider/baremetal/res/res.go
  pkg/util/ssh/ssh.go
Owners: @QianChenglong, @choujimmy

build: add etcd
  build/docker/tools/etcd/Dockerfile
  build/docker/tools/etcd/Makefile
Owners: @QianChenglong

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

* @choujimmy @QianChenglong
/web/ @Yacent
/api/ @choujimmy
/build/ @QianChenglong
/docs/ @interstallers @perfey-he @ruyingzhe
/hack/ @perfey-he
/pkg/auth/ @yadzhang
/pkg/business/ @defydahui
/pkg/monitor/ @kevinfeng @wangao1236
/pkg/notify/ @kevinfeng
/pkg/registry/ @choujimmy
/pkg/platform/ @QianChenglong
/pkg/gateway/ @choujimmy
