Repository tkestack/tke, changes with the owners that .github/CODEOWNERS names for each.
All owners: @choujimmy, @QianChenglong, @interstallers, @perfey-he, @yadzhang, @defydahui, @kevinfeng, @Yacent, @Tim-Ju

fix: can NOT cascadingly delete projects and namespaces
  pkg/business/controller/project/deletion/projected_resources_deleter.go
  pkg/business/registry/imagenamespace/storage/storage.go
  pkg/business/registry/namespace/storage/storage.go
  pkg/business/registry/project/storage/storage.go
  pkg/business/registry/project/strategy.go
Owners: @defydahui

fix: installer progress
  cmd/tke-installer/app/installer/installer.go
Owners: @choujimmy

fix typo, update pictures in install.md
  README.md
  docs/devel/install.md
  docs/images/install/Picture1.png
  docs/images/install/Picture10.png
  docs/images/install/Picture2.png
  docs/images/install/Picture3.png
  docs/images/install/Picture4.png
  docs/images/install/Picture5.png
  docs/images/install/Picture6.png
  docs/images/install/Picture7.png
  docs/images/install/Picture8.png
  docs/images/install/Picture9.png
Owners: @choujimmy, @interstallers

fix: installer step bug
  web/installer/public/static/js/installer.js
  web/installer/src/modules/installer/actions/installerActions.ts
Owners: @Tim-Ju

fix: installer step bug
  web/installer/public/static/js/installer.js
  web/installer/src/modules/installer/actions/installerActions.ts
Owners: @Tim-Ju

feat: Add installation guides (#62)
  README.md
  docs/devel/install.md
  docs/images/TKEStackHighLevelArchitecture@2x.png
  docs/images/install/Picture10.png
  docs/images/install/Picture2.png
  docs/images/install/Picture3.png
  docs/images/install/Picture4.png
  docs/images/install/Picture5.png
  docs/images/install/Picture6.png
  docs/images/install/Picture7.png
  docs/images/install/Picture8.png
  docs/images/install/Picture9.png
Owners: @choujimmy, @interstallers

fix: etcd use headless service, instead of using cluster IP with LB
  cmd/tke-installer/app/installer/manifests/etcd/etcd.yaml
Owners: @choujimmy

docs: add installer
  README.md
  docs/devel/images/TKEStackHighLevelArchitecture@2x.png
  docs/user/tke-installer/README.md
  docs/user/tke-installer/images/step-1.png
  docs/user/tke-installer/images/step-2.png
  docs/user/tke-installer/images/step-3.png
  docs/user/tke-installer/images/step-4.png
  docs/user/tke-installer/images/step-5.png
  docs/user/tke-installer/images/step-6.png
  docs/user/tke-installer/images/step-7.png
  docs/user/tke-installer/images/step-8.png
  docs/user/tke-installer/images/step-9.png
  docs/user/tke-installer/installer-config.md
  docs/user/tke-installer/installing-offline.md
  docs/user/tke-installer/introduction.md
  docs/user/tke-installer/normal-installation.md
Owners: @choujimmy, @interstallers

docs: fix arch image
  docs/images/TKEStackHighLevelArchitecture@2x.png
  docs/user/tke-installer/normal-installation.md
Owners: @interstallers

fix: etcd use headless service, instead of using cluster IP with LB
  cmd/tke-installer/app/installer/manifests/etcd/etcd.yaml
Owners: @choujimmy

docs: add installer (#69)
  README.md
  docs/user/tke-installer/README.md
  docs/user/tke-installer/images/step-1.png
  docs/user/tke-installer/images/step-2.png
  docs/user/tke-installer/images/step-3.png
  docs/user/tke-installer/images/step-4.png
  docs/user/tke-installer/images/step-5.png
  docs/user/tke-installer/images/step-6.png
  docs/user/tke-installer/images/step-7.png
  docs/user/tke-installer/images/step-8.png
  docs/user/tke-installer/images/step-9.png
  docs/user/tke-installer/installer-config.md
  docs/user/tke-installer/installing-offline.md
  docs/user/tke-installer/introduction.md
  docs/user/tke-installer/normal-installation.md
Owners: @choujimmy, @interstallers

docs: fix format
  docs/user/tke-installer/introduction.md
Owners: @interstallers

fix: add domain suffix to registry api
  cmd/tke-installer/app/installer/installer.go
  cmd/tke-installer/app/installer/manifests/tke-registry-api/tke-registry-api.yaml
Owners: @choujimmy

feat: set baremetal cluster default version
  pkg/platform/provider/baremetal/cluster/provider.go
Owners: @QianChenglong

feat: set baremetal cluster default CIDR
  pkg/platform/provider/baremetal/cluster/provider.go
Owners: @QianChenglong

refactor: add https to cluster address
  pkg/platform/util/client.go
Owners: @QianChenglong

feat: machine ssh add username require root
  pkg/platform/provider/baremetal/cluster/provider.go
  pkg/platform/provider/baremetal/machine/provider.go
Owners: @QianChenglong

docs: optimize installer
  docs/user/tke-installer/normal-installation.md
Owners: @interstallers

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

* @choujimmy
/api/ @choujimmy
/build/ @QianChenglong
/docs/ @interstallers
/hack/ @perfey-he
/pkg/auth/ @yadzhang
/pkg/business/ @defydahui
/pkg/monitor/ @kevinfeng
/pkg/notify/ @kevinfeng
/pkg/registry/ @choujimmy
/pkg/platform/ @QianChenglong
/pkg/gateway/ @choujimmy
/web/console/ @Yacent
/web/installer/ @Tim-Ju
go.mod @choujimmy
go.sum @choujimmy
